<ion-view title="Acerca de la App" id="page5">
  <ion-content padding="true" style="background: url(img/5m8yFtsQ4qCiD0zIHUUF_FondoApp16a.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/uSCnw9USQYDdSc5ADR0g_LogoApp1.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 style="text-align: center;">
      <span style="color: #ffffff;">
        <strong>ELECCIONES&nbsp;</strong>
        <strong>2019</strong>
      </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <hr>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #ffffff;">
          <strong>Diseño y Desarrollo de la App</strong>
        </span>
      </h4>
      <hr>
    </div>
    <h4 style="text-align: center;">
      <span style="color: #ffffff;">
        <strong>Marcos Nieto</strong>
      </span>
    </h4>
    <div class="spacer" style="height: 20px;"></div>
    <p style="text-align: center;">
      <span style="color: #ffffff;">
        <strong>¿Encontraste algún error o tenes una sugerencia para mejorar la App? Podés contactarme en mis redes sociales, toda idea suma !</strong>
      </span>
    </p>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="acercaDeLaApp-list11">
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item26" href-inappbrowser="https://api.whatsapp.com/send?phone=543804529789">
        <img src="img/HTo4NDEjS66FupLpLyeD_580b57fcd9996e24bc43c543.png">
        <h2dark>Whatsapp
          <p>54-3804-529789</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item27" href-inappbrowser="https://www.facebook.com/marcos.nieto17">
        <img src="img/8q5huFloQjCuaBcaKAna_Q1PbLAGTSZOHIEhTPiSb_Facebook.png">
        <h2dark>Facebook
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-avatar dark" id="acercaDeLaApp-list-item28" href-inappbrowser="https://www.instagram.com/marcos.nieto17/">
        <img src="img/vJUshNSpQW7o30YSgtak_cSUNHlnTsiZNjs5diyqn_Instagram.jpg">
        <h2dark>Instagram
          <p>@marcos.nieto17</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>