<ion-view title="Acompañantes cívico-electorales" id="page17">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="acompaAntesCVicoElectorales-heading9" style="color:#000000;text-align:center;">ACOMPAÑANTES CÍVICO-ELECTORALES</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>Los acompañantes cívico-electorales son representantes de organizaciones o entidades de la sociedad civil.</p>
      <p>Están autorizados por la Justicia Nacional Electoral para monitorear el desarrollo de la elección en el establecimiento de votación, y posteriormente remitir un informe sobre la tarea realizada.</p>
      <p>
        <span style="background-color: #ffff00;">La tarea de quienes realizan monitoreo electoral o acompañamiento cívico debe ser imparcial, objetiva y neutral, sin obstruir ni obstaculizar el desarrollo del acto comicial.</span>
      </p>
      <p>Portan una credencial y deben acreditarse ante el Delegado de la Justicia Nacional Electoral.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>