<ion-view title="Acta escrutinio, telegrama y certificados." id="page28">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="actaEscrutinioTelegramaYCertificados-heading22" style="color:#000000;text-align:center;">ACTA ESCRUTINIO, TELEGRAMA Y CERTIFICADOS</h4>
    <div class="spacer" style="height: 10px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">1.</span>
      </strong> El Presidente de Mesa completará el Acta de Escrutinio y la firmará junto con el Vicepresidente y los fiscales presentes. Ella será resguardada por el Presidente de Mesa para guardarla oportunamente en el sobre bolsa plástico (bolsín) junto con
      el padrón utilizado, las actas de apertura y cierre, y los sobres de votos recurridos, impugnados y del personal del Comando General Electoral.</p>
    <div>
      <img src="img/gq3dDfkRseBvmDVunFEw_Final00.jpg" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>
        <span style="color: #000080;">
          <strong>2.</strong>
        </span> El Presidente de Mesa, deberá transcribir los resultados del Acta de Escrutinio al telegrama y lo firmará junto con el Vicepresidente y los fiscales presentes, para luego entregarlo al agente de Correo Oficial.</p>
      <p>
        <span style="color: #000080;">
          <strong>3.</strong>
        </span> El Presidente de Mesa, posteriormente, deberá confeccionar el Certificado de Escrutinio y lo firmará junto al Vicepresidente y los fiscales presentes. Ese Certificado será introducido en la urna, la cual (una vez que se encuentren en su interior
        las boletas y sobres utilizados), será cerrada y colocada una faja para su entrega al agente de Correos a efectos de su remisión a la Justicia Nacional Electoral.</p>
    </div>
    <div>
      <p>
        <strong>
          <span style="color: #000080;">4.</span>
        </strong> El Presidente de Mesa, finalmente, deberá transcribir los resultados del Acta de Escrutinio a los certificados destinados a los fiscales partidarios que los soliciten y los firmará junto con el Vicepresidente y los fiscales presentes.</p>
      <p>
        <span style="background-color: #ffff00;">En este caso debe solicitar que le firmen el certificado de escrutinio que ha confeccionado para su agrupación durante el escrutinio.</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">EN EL ACTA DE ESCRUTINIO, TELEGRAMA Y CERTIFICADOS DE ESCRUTINIO EL PRESIDENTE DEBERÁ ASENTAR:</span>
      </h4>
      <p>
        <span style="color: #000000;">
          <span style="background-color: #000080; color: #ffffff;">1</span> Cantidad de personas que concurrieron a votar.</span>
      </p>
      <p>
        <span style="color: #000000;">
          <span style="background-color: #3366ff; color: #ffffff;">2</span> Cantidad de sobres utilizados.
          <br> </span>
      </p>
      <p>
        <span style="color: #000000;">
          <span style="background-color: #00ccff; color: #ffffff;">3</span> Diferencia (si existiere) entre la cantidad de votantes y sobres.
          <br> </span>
      </p>
      <p>
        <span style="color: #000000;">
          <span style="background-color: #008000; color: #ffffff;">4</span> Cantidad de votos de identidad impugnada y del personal del Comando General Electoral.
          <br> </span>
      </p>
      <p>
        <span style="color: #000000;">
          <span style="background-color: #ff9900; color: #ffffff;">5</span> Resultado de la cantidad de votos que obtuvo cada una de las agrupaciones.
          <br> </span>
      </p>
      <p>
        <span style="color: #000000;">
          <span style="background-color: #ff0000; color: #ffffff;">6</span> Cantidad de votos en blanco.
          <br> </span>
      </p>
      <p>
        <span style="color: #000000;">
          <span style="background-color: #993366; color: #ffffff;">7</span> Su firma, la firma del la Vicepresidente y los fiscales partidarios.
          <br>
        </span>
      </p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #000000; background-color: #ffff00;">
          <strong>CONTROLE QUE:</strong>
          <br>
        </span>
      </p>
      <p>
        <span style="color: #000000; background-color: #ffff00;">• Los totales por columna coincidan con el total de votos emitidos.
          <br>
        </span>
      </p>
      <p>
        <span style="color: #000000; background-color: #ffff00;">• Se encuentre identificado con número de mesa y circuito.
          <br>
        </span>
      </p>
      <p>
        <span style="color: #000000; background-color: #ffff00;">• Los datos de su certificado conincidan con los del acta.</span>
      </p>
    </div>
    <div>
      <img src="img/YxUGL7TYK2eLkarT91wg_CertificadoEscrutinio.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">FINALIZADO EL ESCRUTINIO EL PRESIDENTE CONFECCIONARA EL ACTA DE CIERRE:</span>
      </h4>
      <p>En esta acta colocara sus datos, los del Vicepresidente y los datos de los&nbsp;fiscales que actuaron en la mesa indicando la agrupación política a la que representaron. Tambien incluirá la nómina del personal del Comando General Electoral y hará
        mención de las protestas que formulen los fiscales sobre el desarrollo del acto eleccionario y de las que hagan con referencia al escrutinio, si las hubiera (adjuntando las actas correspondientes).</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">ENTREGA DE LA URNA</span>
      </h4>
      <p>Finalmente el presidente deberá
        <strong>cerrar la urna</strong> con las boletas y sobres de los votos computados y el Certificado de Escrutinio adentro. Debe colocarse la faja de seguridad, que será firmada por el presidente y los fiscales.</p>
      <p>En el
        <strong>bolsín de plastico</strong> colocará el&nbsp;Padrón utilizado, las actas confeccionadas (Apertura, Clausura, Escrutinio y Actas Complementarias) y los votos recurridos, votos de identidad impugnada y voto del Comando General Electoral.</p>
      <p>En el
        <strong>sobre bolsa para devolución de útiles</strong> colocará las boletas y sobres sin usar y los útiles y papelerias sobrantes.</p>
      <p>
        <span style="background-color: #ffff00; color: #000080;">Controles que todo esto se haga correctamente.</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/fqPoYOW8RvaiVfxaDogr_EntregadelaUrna1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>Ahora debe entregar todos los elementos al Empleado del Correo, finalizando de esta manera el acto electoral.</p>
    <div>
      <img src="img/urYRMLzqTqqUli0xr7yf_EntregadelaUrna.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>