<ion-view title="Apertura del acto" id="page23">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="aperturaDelActo-heading15" style="color:#000000;text-align:center;">APERTURA DEL ACTO</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>
        <span style="color: #000080;">A LAS 8:00 HORAS, AUNQUE SE ENCUENTRE PRESENTE SOLO UNA AUTORIDAD DE MESA, SE DECLARARÁ ABIERTO EL ACTO ELECTORAL.</span>
      </p>
      <p>A tal fin, el presidente, deberá completar el ACTA DE APERTURA, que deberá firmar junto a los fiscales acreditados.</p>
      <p>Si el Vicepresidente (vocal auxiliar) y los fiscales no estuvieren presentes, o se negasen a firmar, deberá dejar constancia de tal situación en el acta y firmarla junto con dos electores.</p>
    </div>
    <div>
      <img src="img/BjGt2DAdRsCGigyyekXW_ActaApertura.png" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>