<ion-view title="Autoridades de mesa" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="autoridadesDeMesa-heading4" style="color:#000000;text-align:center;">AUTORIDADES DE MESA</h4>
    <div class="spacer" style="height: 10px;"></div>
    <p>El PRESIDENTE es la Máxima Autoridad de la mesa. El VICEPRESIDENTE comparte sus responsabilidades y puede reemplazarlo de manera temporaria o permanente.</p>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>