<ion-view title="Clausura del acto electoral" id="page30">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="clausuraDelActoElectoral-heading20" style="color:#000000;text-align:center;">CLAUSURA DEL ACTO ELECTORAL</h4>
    <div class="spacer" style="height: 10px;"></div>
    <p>
      <span style="color: #000080;">A LAS 18:00 HORAS SE CLAUSURA EL ACCESO AL ESTABLECIMIENTO; SIN EMBARGO, LOS ELECTORES QUE AGUARDABAN SU TURNO -ANTES DE ESE HORARIO- PODRÁN VOTAR.</span>
    </p>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>
        <span style="color: #000000;">
          <strong>Una vez que haya votado el último elector, el presidente deberá:</strong>
        </span>
      </p>
      <p>
        <span style="color: #000080;">
          <strong>1.</strong>
        </span> Tachar del padrón los nombres de los electores que NO hayan votado, luego contar la cantidad de electores que lo hicieron y colocar este número al pie del padrón.</p>
      <p>
        <span style="color: #000080;">
          <strong>2.</strong>
        </span> Asentar el mismo número en el ACTA DE ESCRUTINIO, en el espacio que indica “cantidad de ciudadanos que han votado”, situado en el extremo superior izquierdo.</p>
      <p>
        <span style="color: #000080;">
          <strong>3.</strong>
        </span> Registrar el mismo número en el TELEGRAMA y en el CERTIFICADO DE ESCRUTINIO.</p>
      <p>
        <span style="color: #000000;">
          <strong>
            <span style="background-color: #ffff00;">En todo momento controle y registre los datos en el certificado de escrutinio de su agrupación.</span>
          </strong>
        </span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/iP8cSm7vSeqrkzXEp04w_Clausuradelacto.png" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
  </ion-content>
</ion-view>