<ion-view title="Comando General Electoral" id="page25">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="comandoGeneralElectoral-heading7" style="color:#000000;text-align:center;">COMANDO GENERAL ELECTORAL</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>El Comando General Electoral está integrado por el personal de las Fuerzas Armadas y de las Fuerzas de Seguridad.</p>
      <p>
        <br>
        <strong>
          <span style="color: #000080;">Funciones:</span>
        </strong>
      </p>
      <p>• Coordinar y ejecutar las medidas de seguridad de las elecciones nacionales.</p>
      <p>• Vigilar los locales donde funcionan las mesas receptoras de votos y las sedes de la Justicia Nacional Electoral en cada distrito.</p>
      <p>• Custodiar las urnas y la documentación durante su despliegue, repliegue y hasta la finalización del escrutinio definitivo.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>