<ion-view title="Cuarto oscuro accesible" id="page24">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="cuartoOscuroAccesible-heading14" style="color:#000000;text-align:center;">CUARTO OSCURO ACCESIBLE</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/WSAJdDLSwWB17QyPVwZV_COA.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <p>Cada establecimiento de votación contará con un Cuarto Oscuro Accesible (COA), en el que podrán votar, por propia opción, los electores registrados en otras mesas que presenten alguna discapacidad o limitación, permanente o transitoria.</p>
      <p>• Será habilitado en el espacio de más fácil acceso y más cercano al ingreso del establecimiento.</p>
      <p>• Contará con señalización para que pueda ser identificado por los electores.</p>
      <p>• Funcionará como un cuarto oscuro común, pero podrá ser utilizado, si así lo requieren, por personas con discapacidad o limitaciones (por ejemplo, adultos mayores y embarazadas) que estén registradas en otras mesas.</p>
    </div>
    <div>
      <p>
        <span style="color: #000080;">En el caso de que&nbsp;un elector que se encuentra registrado en su mesa solicita emitir su voto en el Cuarto Oscuro Accesible, el presidente deberá t</span>
        <span style="color: #000080;">rasladarse al COA con la urna, un sobre y el padrón; dejando al Vicepresidente o al personal del Comando General Electoral en resguardo de la mesa a su cargo.</span>
      </p>
      <p>
        <span style="color: #000080;">El elector deberá emitir su voto en la urna que corresponde a la mesa en la que se encuentra inscripto y asentar su firma en el padrón correspondiente.</span>
      </p>
      <p>
        <span style="background-color: #ffff00;">Si este caso se da en ningún momento el fiscal debe perder de vista la urna y debe controlar la existecia de las boletas en dicho cuarto oscuro.</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>