<ion-view title="Delegados de la justicia electoral" id="page19">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="delegadosDeLaJusticiaElectoral-heading6" style="color:#000000;text-align:center;">DELEGADOS DE LA JUSTICIA ELECTORAL</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>Es un ciudadano designado por el o la Juez Federal con competencia electoral, para actuar como nexo entre este y las autoridades de mesa, los fiscales partidarios, los acompañantes cívicos, la ciudadanía, el personal del Comando General Electoral
        y del Correo.</p>
      <p>&nbsp;</p>
      <p>
        <span style="color: #000080;">
          <strong>Funciones:</strong>
        </span>
      </p>
      <p>El sábado anterior a la elección, concurrirá al establecimiento de votación para verificar e informar las condiciones edilicias; identificar, organizar y acondicionar los cuartos oscuros, y recibir el material electoral en el caso que se adelante
        la distribución del Correo.</p>
      <p>El día domingo, el delegado asistirá a las autoridades de mesa en la constitución puntual de las mesas.</p>
      <p>Por otra parte, evacuará las dudas de todas las personas que se encuentren en el establecimiento, facilitará el acceso de los acompañantes cívico-electorales y asistirá al personal del Comando General Electoral en el resguardo de boletas de contingencia,
        funcionamiento del COC e ingreso de los electores.</p>
      <p>El Delegado puede consultar al presidente sobre el desarrollo de la jornada electoral y los resultados del escrutinio de su mesa, si así lo requiere la Justicia Nacional Electoral.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>