<ion-view title="Electores" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="electores-heading2" style="color:#000000;text-align:center;">ELECTORES</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">¿QUIÉNES PUEDEN VOTAR?</span>
      </h4>
      <p>• Los electores que figuren en el padrón electoral y acrediten su identidad con documento habilitante.</p>
      <p>• El Personal del Comando General Electoral que se encuentre inscripto en el padrón electoral de la mesa.</p>
      <p>El mismo puede estar identificado con un color especial o simplemente estar asentado como los demás electores.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4>
      <span style="color: #000080;">¿CUÁLES SON LOS DOCUMENTOS </span>
      <span style="color: #000080;">HABILITANTES PARA VOTAR?</span>
    </h4>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/cZEP4acHQr2qTJBDDzV9_DocValidos.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>En la segunda página del padrón, encontrará el detalle de las referencias a los distintos tipos y orden de los documentos.</p>
      <p>Tenga en cuenta que el ejemplar clasificado con las letras es posterior a todos los otros ejemplares (duplicado, triplicado, cuadruplicado...)</p>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #000080;">REFERENCIA</span>
      </h4>
      <p>(L) Libreta Original
        <br>(L.D.) Libreta Duplicada
        <br>(L.T.) Libreta Triplicada
        <br>(L.C.) Libreta Cuadruplicada
        <br>(L.5, L.6...) Libreta Quint. Sext...
        <br>(DNI) Doc. Nac. de Identidad
        <br>(DNID) Doc. Nac. de Identidad Duplicado
        <br>(DNIT) Doc. Nac. de Identidad Triplicado
        <br>(DNIC) Doc. Nac. de Identidad Cuadruplicado
        <br>(DNI5,6...) Doc. Nac. de Identidad Quint. Sext...
        <br>(DNI EA, EB...) Doc. Nac. de Identidad Ejemplar A, B...</p>
      <p>
        <span style="background-color: #ffff00;">El ejemplar del documento debe ser igual o posterior al que figura en el padrón.</span>
      </p>
      <p>
        <span style="background-color: #ffff00;">EL DNI tarjeta que contiene la leyenda “no válido para votar”, y no contiene identificado el ejemplar, es VÁLIDO PARA VOTAR.</span>
      </p>
      <p>
        <span style="background-color: #ffff00;">En el caso de que los fiscales duden de la identidad del elector, no podrán negarle el derecho a votar, pero sí podrán interrogarlo o efectuar el procedimiento del voto de identidad impugnada.</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4>
      <span style="color: #000080;">¿QUIÉNES NO PUEDEN VOTAR?</span>
    </h4>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/LojtvYOZSNObn8F074hF_DocNoValidos.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>