<ion-view title="Entrega de urna, documentos y útiles" id="page15">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="entregaDeUrnaDocumentosYTiles-heading11" style="color:#000000;text-align:center;">ENTREGA DE URNA, DOCUMENTOS Y ÚTILES</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/or6zezTJQdOXg0COjRPw_MaterialElecc01.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>El personal del correo le entregará al presidente la urna que contendrá todos los útiles necesarios para llevar a cabo el acto electoral. La urna contendrá:</p>
      <p>*el padrón para uso del presidente,</p>
      <p>*un padrón para exhibir a los ciudadanos,</p>
      <p>*credenciales del presidente y vicepresidente,</p>
      <p>*fajas de seguridad,</p>
      <p>*sobres para emisión del voto,</p>
      <p>*bolsín plástico con un presinto rojo para la devolución de actas, certificados, padrón del presidentre, votos inpugnados, votos reurridos y votos del comando electoral,</p>
      <p>*actas complementarias y formularios especiales,</p>
      <p>*acta de apertura y cierre,</p>
      <p>*acta de escrutinio,</p>
      <p>*certificado de escrutinio,</p>
      <p>*telegrama,</p>
      <p>*boletas partidarias,</p>
      <p>*cartelería,</p>
      <p>*una copia del código electoral</p>
      <p>*y un sobre especial para devolución de útiles.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>