<ion-view title="Escrutinio de la mesa" id="page29">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="escrutinioDeLaMesa-heading21" style="color:#000000;text-align:center;">ESCRUTINIO DE LA MESA</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/Ah9CFiVGT6K6MZ30KeyH_Escrutinio0.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <p>Para efectuar el escrutinio de la mesa se trasladaran, tanto el presidente como los fiscales, al cuarto oscuro.</p>
      <p>
        <strong>
          <span style="color: #000080;">Tenga en cuenta que:</span>
        </strong>
      </p>
      <p>
        <strong>
          <span style="color: #000080;">•</span>
        </strong> El PRESIDENTE DE MESA es la única autoridad que debe realizar el escrutinio y solo el VICEPRESIDENTE puede asistirlo.</p>
      <p>
        <strong>
          <span style="color: #000080;">•</span>
        </strong> Nadie (Fiscales, Delegado, personal del Correo, personal del Comando, etc.) puede apurar o presionar este proceso.</p>
      <p>
        <strong>
          <span style="color: #000080;">•</span>
        </strong> Los FISCALES presencian el acto, formulan observaciones o recurren la calificación de los votos, pero NO DEBEN REALIZAR NINGUNA TAREA DEL ESCRUTINIO.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">APERTURA DE LA URNA</span>
      </h4>
      <h4>A continuación, el presidente deberá:</h4>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/IF09sOfTm6FlppBEOEdg_Escrutinio1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p>
        <strong>Recuerde que:</strong>
      </p>
      <p>
        <span style="background-color: #ffff00; color: #000080;">Los sobres que contienen los votos de identidad impugnada y del Comando General Electoral deben enviarse cerrados a la Justicia Nacional Electoral.</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4>
      <span style="color: #000080;">CALIFICACIÓN DE VOTOS </span>
    </h4>
    <div>
      <p>A continuación, el presidente abrirá los sobres, extraerá las boletas y clasificará los votos en: válidos (afirmativos y en blanco), nulos y recurridos.</p>
      <p>
        <span style="color: #000080;">
          <strong>Para ello debe tener en cuenta que:</strong>
        </span>
      </p>
      <p>• Únicamente el Vicepresidente está habilitado para asistirlo en esta tarea.</p>
      <p>• Los votos se califican por categoría de cargos, a medida que se extraen las boletas de los sobres.</p>
    </div>
    <a ui-sref="tabsController.QuElegimos()" id="escrutinioDeLaMesa-button2" class="button button-energized button-small">Categorías</a>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <p>• En caso de no estar de acuerdo con la calificación de un voto, puede solicitar que el voto sea recurrido, verifique que sea separado para tal fin.</p>
      <p>• Una vez que haya clasificado el total de los votos, debe sumarlos y registrar las cantidades correspondientes a cada categoría de cargos en el ACTA DE ESCRUTINIO. Usted siempre registre los resultados en el CERTIFICADO DE ESCRUTINIO de su agrupación.</p>
      <p>• Los sobres utilizados deben depositarse dentro de la urna para su devolución.</p>
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <h4>
      <span style="color: #000080;">Los votos se clasifican en:</span>
    </h4>
    <div class="spacer" style="height: 15px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">1. VOTOS VÁLIDOS</span>
      </strong>, los cuales se clasifican en VOTOS AFIRMATIVOS y VOTOS EN BLANCO.</p>
    <div class="spacer" style="height: 15px;"></div>
    <h4>
      <span style="color: #000080; background-color: #ffff00;">A. VOTOS AFIRMATIVOS </span>
    </h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/LDcDkqpvTrKllZVnB4LR_VotoValido1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4>
      <span style="background-color: #ffff00; color: #000080;"> B. VOTOS EN BLANCO </span>
    </h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/D6tr6t0ARZG2JvGlemx3_VotoValido2.png" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">2. VOTOS NULOS</span>
      </strong>, se emiten mediante boletas no oficializadas, o que contienen defectos formales suficientes como para anular la opción electoral.</p>
    <div>
      <img src="img/wgsIHX27TKub7cMFxOIX_VotoNulo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <strong>
        <span style="color: #000080;">3. VOTOS RECURRIDOS</span>
      </strong>, son aquellos cuya validez o nulidad fuera cuestionada en el escrutinio de mesa por algún fiscal.</p>
    <div>
      <p>
        <strong>
          <span style="color: #000080;">En este caso, el fiscal que recurre deberá:</span>
        </strong>
      </p>
      <p>
        <strong>
          <span style="color: #000080;">1</span>
        </strong>. Fundamentar su pedido.</p>
      <p>
        <span style="color: #000080;">
          <strong>2.</strong>
        </span> Asentar tales motivos en el formulario especial provisto por la Justicia Nacional Electoral.</p>
      <p>
        <strong>
          <span style="color: #000080;">3.</span>
        </strong> Consignar sus datos (nombre y apellido; DNI; domicilio y lista) y firmar el formulario.</p>
      <p>El formulario se adjuntará a la boleta y al sobre respectivo para ser enviado a la Junta Electoral Nacional.</p>
    </div>
    <div>
      <img src="img/vltJBnPSBSKogbvsgufY_VotoRecurrido.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>