<ion-view title="Fiscales partidarios" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="fiscalesPartidarios-heading5" style="color:#000000;text-align:center;">FISCALES PARTIDARIOS</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>Los fiscales NO SON AUTORIDADES DE MESA, son REPRESENTANTES PARTIDARIOS que velan por el buen desarrollo de la elección en general, y particularmente por los intereses de su agrupación dentro de los límites que el Código Electoral Nacional les otorga.</p>
      <p>Las agrupaciones políticas pueden presentar fiscales de mesa para que los representen en cada mesa de votación, y un fiscal general para que actúe en cada establecimiento.</p>
      <p>
        <span style="background-color: #ffff00;">Salvo lo dispuesto con referencia al o a la fiscal general, en ningún caso se permite la actuación simultánea&nbsp;</span>
        <span style="background-color: #ffff00;">en una mesa de más de un fiscal por agrupación política.</span>
      </p>
    </div>
    <div>
      <p>Los fiscales deben presentarse ante la Autoridad de Mesa con el poder que los acredita.</p>
      <p>Los poder, es una nota con la firma de las autoridades partidarias, que contienen el nombre, apellido, documento y firma del fiscal. Este le será entregado por su fiscal general para que pueda acreditarse en la correpondiente mesa.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">
          <strong>LOS FISCALES PUEDEN:</strong>
        </span>
      </h4>
      <p>
        <span style="color: #008000;">
          <strong>• Entrar y salir libremente del establecimiento de votación.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Estar presentes cuando se acondicione el cuarto oscuro.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Entregar las boletas a las autoridades de mesa para su colocación en el cuarto oscuro.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Cotejar la identidad que acredita el elector con el padrón que le otorgó la agrupación política.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Firmar la documentación.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Solicitar a la Autoridad de Mesa que interrogue al elector en caso de dudas acerca de su identidad.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Solicitar la impugnación de la identidad del elector.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Pedir que se examine el cuarto oscuro cuantas veces considere necesario, sin entorpecer el normal desarrollo de la mesa.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Presenciar el escrutinio de mesa y recurrir los votos.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Reclamar ante irregularidades.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Firmar y revisar que estén completos y correctos los datos del acta de escrutinio, telegrama y certificado de escrutinio.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Solicitar el certificado de escrutinio firmado al finalizar el acto electoral.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Vigilar y custodiar las urnas y los documentos electorales, desde el momento en que el Presidente de Mesa hace entrega de estos al Correo.</strong>
        </span>
      </p>
      <p>
        <span style="color: #008000;">
          <strong>• Acompañar al personal del Correo desde el establecimiento de votación hasta el lugar designado por la Justicia Nacional Electoral para resguardar las urnas.</strong>
        </span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <strong>
          <span style="color: #003366;">LOS FISCALES NO PUEDEN:</span>
        </strong>
      </h4>
      <p>
        <span style="color: #ff0000;">
          <strong>• Ejercer o compartir las funciones de las autoridades de mesa.</strong>
        </span>
      </p>
      <p>
        <span style="color: #ff0000;">
          <strong>• Dar indicaciones o instrucciones a las Autoridades de Mesa, al Delegado de la Justicia Nacional Electoral o al personal del Comando General Electoral.</strong>
        </span>
      </p>
      <p>
        <span style="color: #ff0000;">
          <strong>• Confeccionar documentación oficial (actas, telegramas)</strong>
        </span>
      </p>
      <p>
        <span style="color: #ff0000;">
          <strong>• Orientar o asistir a los electores.</strong>
        </span>
      </p>
      <p>
        <span style="color: #ff0000;">
          <strong>• Tomar decisiones en su mesa.</strong>
        </span>
      </p>
      <p>
        <span style="color: #ff0000;">
          <strong>• Votar en una mesa en la cual no está empadronado.</strong>
        </span>
      </p>
      <p>
        <span style="color: #ff0000;">
          <strong>• Actuar en más de una mesa (salvo que sea la fiscal
            <br> general).</strong>
        </span>
      </p>
      <p>
        <span style="color: #ff0000;">
          <strong>• Manipular los sobres con los votos.
            <br>
          </strong>
        </span>
      </p>
      <p>
        <span style="color: #ff0000;">
          <strong>• Interrogar al elector.
            <br>
          </strong>
        </span>
      </p>
      <p>
        <span style="color: #ff0000;">
          <strong>• Realizar el escrutinio de la mesa.
            <br>
          </strong>
        </span>
      </p>
      <p>
        <span style="color: #ff0000;">
          <strong>• Ser reemplazado por otro fiscal sin dejar constancia del hecho.</strong>
        </span>
      </p>
      <p>&nbsp;</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>