<ion-view title="Funcionamiento del cuarto oscuro" id="page31">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="funcionamientoDelCuartoOscuro-heading19" style="color:#000000;text-align:center;">FUNCIONAMIENTO DEL CUARTO OSCURO</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/DhODAcWERYOPAVSNafiU_CuartoOscuro.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <p>Se examinará el cuarto oscuro a pedido de los fiscales, o cuando el presidente lo estime necesario para asegurarse que se encuentra en condiciones.</p>
      <p>
        <strong>
          <span style="color: #000080;">Para ello, debe:</span>
        </strong>
      </p>
      <p>• Comprobar que haya solo una puerta utilizable y las ventanas estén
        <br>cubiertas.</p>
      <p>• Verificar que existen suficientes boletas de la&nbsp;agrupación que representa y de ser necesario reponerlas.</p>
      <p>
        <span style="background-color: #ffff00; color: #000080;">LA SUSTRACCIÓN DE BOLETAS DEL CUARTO OSCURO, SU DESTRUCCIÓN, SUSTITUCIÓN, ADULTERACIÓN U OCULTAMIENTO CONSTITUYE UN DELITO ELECTORAL.</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>