<ion-view title="Guías en PDF" id="page6">
  <ion-content padding="true" style="background: url(img/G6CRXeQqS66AYSnKoz6J_Fondo.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">GUÍAS EN PDF</span>
      </h4>
      <hr>
      <h4 style="text-align: center;">
        <span style="color: #000080;">&nbsp;</span>
      </h4>
    </div>
    <ion-list id="guAsEnPDF-list13">
      <ion-item class="item-icon-left item-icon-right dark" id="guAsEnPDF-list-item31" href-inappbrowser="https://drive.google.com/open?id=1irdU7bYrZRH_-jIi_VrCRcysumz1VHlh">
        <i class="icon ion-document"></i>Guía rápida fiscales 2019
        <i class="icon ion-archive"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="guAsEnPDF-list14">
      <ion-item class="item-icon-left item-icon-right dark" id="guAsEnPDF-list-item32" href-inappbrowser="https://drive.google.com/open?id=1KCcWXVWPC-GSiFl2DIvUBEpLUupnp7fo">
        <i class="icon ion-document"></i>Manual autoridad de mesa 2019
        <i class="icon ion-archive"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="guAsEnPDF-list15">
      <ion-item class="item-icon-left item-icon-right dark" id="guAsEnPDF-list-item33" href-inappbrowser="https://drive.google.com/open?id=1iW-aeYRUbjpxY_9iC7GYjxNW4XRw2P4M">
        <i class="icon ion-document"></i>Disposiciones Legales
        <i class="icon ion-archive"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <ion-list id="guAsEnPDF-list16">
      <ion-item class="item-icon-left item-icon-right dark" id="guAsEnPDF-list-item37" href-inappbrowser="https://drive.google.com/open?id=1UUB_fzwxCp8lb_G_C6MuupFN5RHpgUAP">
        <i class="icon ion-document"></i>Tipos de Votos
        <i class="icon ion-archive"></i>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>