<ion-view title="Habilitación del cuarto oscuro" id="page13">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="habilitaciNDelCuartoOscuro-heading13" style="color:#000000;text-align:center;">HABILITACIÓN DEL CUARTO OSCURO</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/gFozhPF3RmO6PTAGoz6z_Cuarto1.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <p>Deberán habilitar el cuarto oscuro en un recinto inmediato a la mesa, además de verificar que tenga solo una puerta utilizable y las ventanas
        <br>se encuentren tapadas. Caso contrario, deberán ser clausurarlas.</p>
      <p>Por otra parte, debe corroborar si hay carteles o inscripciones que sugieran
        <br>al elector votar de un modo determinado, y solicitar que se cubran o retiren.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">
          <strong>Luego, depositarán las boletas de sufragio; para ello deberán:</strong>
        </span>
      </h4>
      <p>• Ordenar las boletas por agrupación política (color), respetando el orden numérico y alfabético, de menor a mayor, y de izquierda a derecha.</p>
    </div>
    <div>
      <img src="img/cAMUGE9CR22pWh8rlCFQ_Cuarto2.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <p>
      <span style="background-color: #ffff00;">Procure que las boletas se ubiquen de modo tal que sean accesibles para todos los electores.</span>
    </p>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>