<ion-view title="INDICE" hide-nav-bar="true" id="page3">
  <ion-content padding="true" style="background: url(img/G6CRXeQqS66AYSnKoz6J_Fondo.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <h4 style="text-align: center;">
        <span style="color: #000080;">INDICE</span>
      </h4>
      <hr>
      <h4 style="text-align: center;">
        <span style="color: #000080;">&nbsp;</span>
      </h4>
    </div>
    <ion-list id="iNDICE-list1">
      <ion-item class="item-divider" id="iNDICE-list-item-divider1"> 1- Elecciones</ion-item>
      <ion-item class="positive" id="iNDICE-list-item6" ui-sref="tabsController.QuElegimos()">¿Qué elegimos?</ion-item>
      <ion-item class="positive" id="iNDICE-list-item5" ui-sref="tabsController.electores()">Electores</ion-item>
      <ion-item class="positive" id="iNDICE-list-item7" ui-sref="tabsController.padrNElectoral()">Padrón Electoral</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="iNDICE-list2">
      <ion-item class="item-divider" id="iNDICE-list-item-divider2"> 2- Sujetos del proceso electoral</ion-item>
      <ion-item class="positive" id="iNDICE-list-item3" ui-sref="tabsController.autoridadesDeMesa()">Autoridades de mesa</ion-item>
      <ion-item class="positive" id="iNDICE-list-item4" ui-sref="tabsController.fiscalesPartidarios()">Fiscales partidarios</ion-item>
      <ion-item class="positive" id="iNDICE-list-item8" ui-sref="tabsController.delegadosDeLaJusticiaElectoral()">Delegados de la Justicia Electoral</ion-item>
      <ion-item class="positive" id="iNDICE-list-item36" ui-sref="tabsController.comandoGeneralElectoral()">Comando General Electoral</ion-item>
      <ion-item class="positive" id="iNDICE-list-item9" ui-sref="tabsController.personalDelCorreo()">Personal del correo</ion-item>
      <ion-item class="positive" id="iNDICE-list-item10" ui-sref="tabsController.acompaAntesCVicoElectorales()">Acompañantes cívico-electorales</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="iNDICE-list3">
      <ion-item class="item-divider" id="iNDICE-list-item-divider3"> 3- Preparación de la Mesa 7:00Hs.</ion-item>
    </ion-list>
    <ion-list id="iNDICE-list4">
      <ion-item class="positive" id="iNDICE-list-item11" ui-sref="tabsController.presentaciNDeAutoridadesDeMesa()">Presentación de autoridades de mesa</ion-item>
      <ion-item class="positive" id="iNDICE-list-item12" ui-sref="tabsController.entregaDeUrnaDocumentosYTiles()">Entrega de urna, documentos y útiles</ion-item>
      <ion-item class="positive" id="iNDICE-list-item16" ui-sref="tabsController.preparaciNDeLaMesaYArmadoDeUrna()">Preparación de la mesa y armado de urna</ion-item>
      <ion-item class="positive" id="iNDICE-list-item14" ui-sref="tabsController.habilitaciNDelCuartoOscuro()">Habilitación del cuarto oscuro</ion-item>
      <ion-item class="positive" id="iNDICE-list-item15" ui-sref="tabsController.cuartoOscuroAccesible()">Cuarto Oscuro Accesible COA</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="iNDICE-list5">
      <ion-item class="item-divider" id="iNDICE-list-item-divider4"> 4- Apertura y desarrollo 8:00Hs.</ion-item>
    </ion-list>
    <ion-list id="iNDICE-list6">
      <ion-item class="positive" id="iNDICE-list-item17" ui-sref="tabsController.aperturaDelActo()">Apertura del acto</ion-item>
      <ion-item class="positive" id="iNDICE-list-item18" ui-sref="tabsController.procedimientoDeVotaciN()">Procedimiento de votación</ion-item>
      <ion-item class="positive" id="iNDICE-list-item21" ui-sref="tabsController.votoDeIdentidadImpugnada()">Voto de identidad impugnada</ion-item>
      <ion-item class="positive" id="iNDICE-list-item20" ui-sref="tabsController.votoDelComandoGeneralElectoral()">Voto del comando general electoral</ion-item>
      <ion-item class="positive" id="iNDICE-list-item22" ui-sref="tabsController.funcionamientoDelCuartoOscuro()">Funcionamiento del cuarto oscuro</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="iNDICE-list7">
      <ion-item class="item-divider" id="iNDICE-list-item-divider5"> 5- Clausura y escrutinio 18:00Hs.</ion-item>
    </ion-list>
    <ion-list id="iNDICE-list8">
      <ion-item class="positive" id="iNDICE-list-item23" ui-sref="tabsController.clausuraDelActoElectoral()">Clausura del acto electoral</ion-item>
      <ion-item class="positive" id="iNDICE-list-item24" ui-sref="tabsController.escrutinioDeLaMesa()">Escrutinio de la mesa</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="iNDICE-list9">
      <ion-item class="item-divider" id="iNDICE-list-item-divider6"> 6- Confección de la documentación</ion-item>
    </ion-list>
    <ion-list id="iNDICE-list10">
      <ion-item class="positive" id="iNDICE-list-item25" ui-sref="tabsController.actaEscrutinioTelegramaYCertificados()">Acta escrutinio, telegrama y certificados</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>