<ion-view title="INICIO" hide-nav-bar="true" id="page2">
  <ion-content padding="true" style="background: url(img/G6CRXeQqS66AYSnKoz6J_Fondo.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/uSCnw9USQYDdSc5ADR0g_LogoApp1.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="iNICIO-list12">
      <ion-item class="item-icon-left positive" id="iNICIO-list-item29" ui-sref="tabsController.iNDICE()">
        <i class="icon ion-ios-list"></i>Indice</ion-item>
      <ion-item class="item-icon-left positive" id="iNICIO-list-item34" ui-sref="tabsController.pADRN()">
        <i class="icon ion-ios-copy"></i>Padrón Electoral</ion-item>
      <ion-item class="item-icon-left positive" id="iNICIO-list-item35" ui-sref="tabsController.guAsEnPDF()">
        <i class="icon ion-archive"></i>Guías en PDF</ion-item>
      <ion-item class="item-icon-left positive" id="iNICIO-list-item30" ui-sref="tabsController.acercaDeLaApp()">
        <i class="icon ion-information-circled"></i>Acerca de la App</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>