<ion-view title="Padrón electoral" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="padrNElectoral-heading3" style="color:#000000;text-align:center;">PADRÓN ELECTORAL</h4>
    <div class="spacer" style="height: 10px;"></div>
    <h4>
      <span style="color: #000080;">En el ejemplar del padrón para el Presidente encontrará:</span>
    </h4>
    <div>
      <img src="img/QMcTdUiJToGnMSZA9m8M_Padron1.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>
        <span style="background-color: #000080; color: #ffffff;"> 1</span> Los datos del distrito; la sección electoral; el circuito y la mesa, a la que le corresponde el padrón.</p>
      <p>
        <span style="background-color: #0000ff; color: #ffffff;">2</span> Los datos de los electores ordenados por columna:
        <br>&nbsp; &nbsp;• Apellido, Nombre y Domicilio.
        <br>&nbsp; &nbsp;• Número de Orden.
        <br>&nbsp; &nbsp;• Número de Documento, Tipo y Clase.</p>
      <p>
        <span style="background-color: #3366ff; color: #ffffff;">3</span> Las fotografías de los electores que hayan tramitado el DNI hasta el 30/4/2019.</p>
      <p>
        <span style="background-color: #00ccff; color: #ffffff;">4</span> Un espacio para asentar las observaciones.</p>
      <p>
        <span style="background-color: #00ffff; color: #ffffff;">5</span> Un espacio para asentar la firma del elector.</p>
      <p>
        <span style="background-color: #008000; color: #ffffff;">6</span> Las constancias de emisión de voto, troqueladas para facilitar su entrega al votante, contienen:
        <br>&nbsp; &nbsp;• Número de orden y código de barras.
        <br>&nbsp; &nbsp;• Los datos de la elección, los de la mesa y los del elector.
        <br>&nbsp; &nbsp;• Un espacio para que Usted asiente su firma, una vez que el elector haya votado.</p>
      <p>
        <span style="background-color: #339966; color: #ffffff;">7</span> Los casos de electores ausentes por desaparición forzada incluyen en la columna de observaciones una leyenda que acredita tal situación y todos sus espacios se encuentran grisados.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4>
      <span style="color: #000080;">En el ejemplar del padrón para el Fiscal encontrará:</span>
    </h4>
    <div>
      <img src="img/59VHEmTNQ1CzKzRnz1Ep_Padron2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>
        <span style="background-color: #000080; color: #ffffff;"> 1 </span>Los datos del distrito; la sección electoral; el circuito y la mesa, se disponen en el extremo superior del padrón.</p>
      <p>
        <span style="background-color: #0000ff; color: #ffffff;">2</span> Los datos de los electores ordenados por columna:
        <br>&nbsp; &nbsp;• Apellido, Nombre y Domicilio.
        <br>&nbsp; &nbsp;• Número de Orden.
        <br>&nbsp; &nbsp;• Número de Documento, Tipo y Clase.</p>
      <p>
        <span style="color: #ffffff; background-color: #3366ff;">3</span> Un espacio para señalar en el padrón que el elector sufragó.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <h4>
      <span style="color: #000080;">El personal del Comando General Electoral podrá encontrarse con un color especial o asentado como los demás electores.</span>
    </h4>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/F1s2P3uRDewKbPYJ4w5J_PadronComando.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>