<ion-view title="Personal del correo" id="page18">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="personalDelCorreo-heading8" style="color:#000000;text-align:center;">PERSONAL DEL CORREO</h4>
    <div class="spacer" style="height: 10px;"></div>
    <p>Transportan la documentación electoral (urnas y actas) en la apertura y el cierre del acto electoral.</p>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>