<ion-view title="Preparación de la mesa y armado de urna" id="page14">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="preparaciNDeLaMesaYArmadoDeUrna-heading12" style="color:#000000;text-align:center;">PREPARACIÓN DE LA MESA Y ARMADO DE URNA</h4>
    <div class="spacer" style="height: 10px;"></div>
    <p>Una vez recibido el material, se deberá instalar la mesa de votación. Para ello, colocarán la mesa en un lugar de fácil acceso y la identificarán con su número. Dispondrán sobre la mesa los ejemplares del padrón y fijarán la cartelería.</p>
    <div>
      <img src="img/agffmPNrTHygz2DQ43Vu_Preparacion1.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>Luego de instalar la mesa, deberá habilitar la
      <strong>urna de votación</strong> de la siguiente manera:</p>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/J1iY44vHQZaIusORcLl6_Urna01.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <p>Debe verificar que la urna este completamente vacía al momento de cerrarla.</p>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/arqhn71QwaFw2llZx19S_Urna02.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <p>Luego se colocará la faja de seguridad que se incluyó entre los materiales electorales. Cuando sea colocarla, verifique que quede libre la abertura para la introducción de los sobres y sea esta la única abertura.</p>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/3dO97wxETqe7AILbGvEs_Urna03.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <p>La faja de seguridad debe ser firmada por el presidente, el vicepresidente y los fiscales acreditados en la mesa.</p>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/AJgGmxp1SemuMaGJVzr2_Urna04.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <p>Finalmente, controle que se completen los espacios en blanco impresos en la urna con los siguientes datos:</p>
      <p>► Sección electoral,</p>
      <p>► Nº de circuito electoral,</p>
      <p>► Nº de mesa.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>