<ion-view title="Presentación de autoridades de mesa" id="page16">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="presentaciNDeAutoridadesDeMesa-heading10" style="color:#000000;text-align:center;">PRESENTACIÓN DE AUTORIDADES DE MESA</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>El presidente y el vicepresidente deben presentarse en el establecimiento de votación a las 7:00hs.</p>
      <p>► Estos deben acreditar su función con el personal del correo para recibir el material electoral.</p>
      <p>► Acreditar a los fiscales de mesa que deben presentarle el poder firmado por la autoridad partidaria.</p>
      <p>► Preparar la mesa de votación y acondicionar el cuarto oscuro.</p>
      <p>&nbsp;</p>
      <p>
        <span style="background-color: #ffff00;">**Es muy importante que como fiscal llegue lo más temprano posible para asistir al presidente en la preparación de la mesa, ayudar a acondicionar el cuarto oscuro, comenzando de esta manera a verificar el normal desarrollo del acto electoral**</span>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>