<ion-view title="Procedimiento de votación" id="page22">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="procedimientoDeVotaciN-heading16" style="color:#000000;text-align:center;">PROCEDIMIENTO DE VOTACIÓN</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/7OvC7UMsSqCnKnAnn3Br_Votando.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <div>
      <p>En primer lugar, deben votar las autoridades de mesa y los fiscales partidarios, siempre que se encuentren inscriptos en el padrón de la mesa, y luego votarán los electores.</p>
      <p>
        <span style="background-color: #ffff00;">Los fiscales que no estuviesen presentes al abrirse el acto, sufragarán a medida que se incorporen a la mesa.</span>
      </p>
      <h4>
        <span style="color: #000080;">EL SECRETO DEL VOTO ES OBLIGATORIO DURANTE TODO EL DESARROLLO DEL ACTO ELECT</span>
        <span style="color: #000080;">ORAL.</span>
      </h4>
      <p>
        <span style="color: #000000;">Los electores podrán votar únicamente en la mesa receptora de votos en cuyo padrón figuren asentados y con el documento cívico habilitante.</span>
      </p>
      <p>
        <span style="color: #000000; background-color: #ffff00;">“Ninguna autoridad, ni aun el juez electoral, podrá ordenar al Presidente de Mesa que admita el voto de un elector que no figura inscripto en los ejemplares del padrón electoral”-art.87, CEN-</span>
      </p>
    </div>
    <div>
      <img src="img/ZzYOLZXSdWv02pv844bj_Voto.png" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #000080;">LOS PASOS PARA VOTAR</span>
      </h4>
      <p>A continuación, se detallan los pasos que deben seguir para garantizar que los electores voten:</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/f21QelsGSWFvcnYQsp14_Votar1.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <p>1- Se debe comprobar identidad del elector&nbsp;y retener el documento.</p>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/xf2k4I6GTEO20PivDaKA_Votar2.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <p>Se le debe entregar un sobre firmado por el presidente y los fiscales. Previamente deben acordar cuantos sobres iran firmando por ciclo, se recomiendan de 5 en 5 y llevar el control de que se utilicen todos para evitar posibles fraudes.</p>
    <div class="spacer"
      style="height: 20px;"></div>
    <div>
      <img src="img/vYgkIRLOTjf0FuoSvYef_Votar3.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <p>El elector debe ingresar al cuarto oscuro, controle que no lo haga con mochilas o carteras.</p>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/9Hg0cdIrS1uRD451TLMR_Votar4.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <p>Constate que deposite en la urna el mismo sobre que le fue entregado.</p>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/zywTLwGTQymAi52Ir3mw_Votar6.jpg" style="display: block; width: 85%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <p>Una vez emitido el voto, el elector firmará el padrón del presidente y recibirá la constancia de emisión del voto y junto con su documento.</p>
    <div class="spacer" style="height: 20px;"></div>
    <div class="spacer" style="height: 5px;"></div>
  </ion-content>
</ion-view>