<ion-view title="¿Qué elegimos?" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="QuElegimos-heading1" style="color:#000000;text-align:center;">¿QUÉ ELEGIMOS?</h4>
    <div class="spacer" style="height: 10px;"></div>
    <h4>
      <span style="color: #000080;">
        <strong>El día 27 de octubre, las agrupaciones políticas,&nbsp;competirán para ocupar los cargos públicos nacionales y provinciales en las siguientes categorías:</strong>
      </span>
    </h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <img src="img/kNV2QqqISVen8TMCFDC7_Categorias.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div>
      <p>En el caso de que ninguna de las fórmulas presidenciales obtenga en primera vuelta (elecciones generales) más del 45 % de votos afirmativos válidamente emitidos, o el 40% con una diferencia del 10% respecto de la segunda fórmula más votada, se realizará
        una segunda vuelta, dentro de los 30 días posteriores a la elección general.</p>
      <p>En esta instancia, participarán las dos fórmulas que hayan obtenido la mayor cantidad de votos.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>