<ion-view hide-nav-bar="true" id="page1">
  <ion-tabs class="tabs-energized tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="INICIO" icon="ion-ios-home-outline" href="#/page1/page2" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="INDICE" icon="ion-ios-list-outline" href="#/page1/tab2/page3" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="PADRÓN" icon="ion-ios-copy-outline" href="#/page1/tab3/page4" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>