<ion-view title="Voto del comando general electoral" id="page32">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="votoDelComandoGeneralElectoral-heading18" style="color:#000000;text-align:center;">VOTO DEL COMANDO GENERAL ELECTORAL</h4>
    <div class="spacer" style="height: 10px;"></div>
    <p>Cuando se deba habilitar el voto de un elector identificado en el padrón electoral como “Voto Comando General Electoral”, se le debe entregar, además del sobre de votación, un sobre especial (sobre-cubierta) que tiene la inscripción “Voto Comando
      Electoral”.</p>
    <div>
      <img src="img/iBxo07UR1m7q5CJGPEjk_VotoCEG1.png" style="display: block; width: 95%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <strong>
          <span style="color: #000080;">El elector deberá:</span>
        </strong>
      </p>
      <p>• Ingresar al cuarto oscuro con los dos sobres.</p>
      <p>• Colocar su voto en el sobre común, y luego este en el “sobre–cubierta”.</p>
      <p>• Introducir el sobre en la urna.</p>
      <p>• Firmar el padrón.</p>
    </div>
    <div>
      <img src="img/aShwx5e5QOqhRFkLfLbJ_VotoCEG2.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 15px;"></div>
    <p>
      <span style="background-color: #ffff00;">
        <strong>Los votos de identidad impugnada y del personal del Comando General Electoral serán contabilizados, pero no abiertos ni escrutados en la mesa.</strong>
      </span>
    </p>
    <div class="spacer" style="height: 20px;"></div>
    <div class="spacer" style="height: 5px;"></div>
  </ion-content>
</ion-view>