<ion-view title="Voto de identidad impugnada" id="page20">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="votoDeIdentidadImpugnada-heading17" style="color:#000000;text-align:center;">VOTO DE IDENTIDAD IMPUGNADA</h4>
    <div class="spacer" style="height: 10px;"></div>
    <div>
      <p>Cuando la identidad de una persona genere dudas puede solicitar que se interrogue al elector sobre los datos asentados en su documento.</p>
      <p>Puede impugnar la identidad, cuando a su juicio la hubiere falseado o en caso de que se encuentre identificado en el padrón con la leyenda “ausente por desaparición forzada”.</p>
      <p>
        <span style="color: #000080;">
          <strong>Para realizar el procedimiento de voto de identidad impugnada, debe:</strong>
        </span>
      </p>
      <p>
        <span style="color: #000080;">1.</span> Completar los espacios en blanco del formulario y del sobre para voto de identidad impugnada.</p>
      <p>
        <span style="color: #000080;">2</span>. Anotar “IMPUGNADO” en la columna de observaciones del padrón que corresponde al elector.</p>
      <p>
        <span style="color: #000080;">3.</span> El presidente deberá registrar la impresión dígito-pulgar, tanto en el formulario como en el sobre, que además deberá firmar junto con los fiscales impugnantes.</p>
      <p>
        <span style="color: #000080;">4.</span> El formulario se coloca dentro del sobre de voto de identidad impugnada y entrega abierto al elector, acompañado con un sobre para la emisión del sufragio.</p>
      <p>
        <span style="color: #000080;">5.</span> El elector debe pasar al Cuarto Oscuro y luego introducir el sobre con su voto dentro del sobre especial, el cual no debe cerrar hasta mostrarle que no ha retirado el formulario.</p>
      <p>
        <span style="color: #000080;">6.</span> El elector debe introducir el sobre en la urna, firmar el padrón y recibir la constancia de emisión del voto junto con su documento.</p>
    </div>
    <div>
      <img src="img/vhhg6GSZTYm5c0eoyvCS_Impugnado.png" style="display: block; width: 55%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>